/*===============header=================================*/
:root {
  --primary-color: #F5C909;


}
.abus__parallax {
  width: 100%;
  min-height: 100vh;
  background-color: aqua;

  background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.1)), url(/assets/image/AbouUs.png);
  opacity: 0.9;
  background-position: center;
  background-size: cover;
  position: relative;
}

.abus__parallax--control {
  position: absolute;

  top: 60%;
  right: 5%;
  color: #ffffff79;
  font-size: 50px;
}
.navbarHeader {
  display: flex;
  /* flex-direction: row; */
  justify-content: space-between;
  align-items: center;

  position: absolute;
  width: 100%;
  z-index: 1;
  /* background: #000; */
  color: #FFFFFF;

  padding: 30px 80px;

  transition: all .4s ease;
}
.navbarHeader__left {
  display: flex;
}
.navbarHeader_right {
  position: relative;
  height: 100%;
  max-width: 1300px;
  width: 100%;
  background: var(--bg-color);
  margin: 0 auto;
  padding-right: 20px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.searchbox {
  display: flex;
  align-items: center;
  width: 100%;
  min-width: 200px;
  
  background: rgba(255,255,255,.25);
  border-radius: 30px;
}

.searchbox input {
  outline: none;
  border: none;
  background-color: transparent;
  padding: 8px 0 8px 15px;
  color: #FFFFFF;
}
.searchbox input::placeholder {
  color: rgba(245, 245, 245, 0.4);
}
.searchbox button {
  height: 23px;
  width: 23px;

  outline: none;
  border: none;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.521);
  margin-right: 6px;

}

/* css account */
.account{
  position: relative;
  display: none;
  background: #ffffff;
  border-radius: 50%;
  box-shadow: 0.375em 0.375em 0 0 rgba(15, 28, 63, 0.125);
  height: 3em;
  width: 3em;
}
.account_list{
  position: absolute;
  top: 100%;
  display: none;
  padding: 10px;
  width: 250px;
  /* max-width: 100%; */
  background-color: white;
  color: #252525;
  right: -20%;
  border-radius: 10px;
  }
  .account_list-item{
    border-bottom: 1px solid #000;
    display: flex;
    align-items: center;
    padding: 10px 5px;
      }
      .account_list-item button{
          background-color: rgba(254, 253, 253, 0.218); 
          border: none;
          color: rgb(17, 0, 0);
          padding: 0;
          text-align: center;
          text-decoration: none;
          display: inline-block;
          font-size: 18px;
          margin-left: 35px;
          cursor: pointer;
      }
.account_icon{
  font-size: 20px;
}
.account_icon--border{
  border-radius: 50%;
  border: 1px solid;
  height:50px;
  width:50px;
  text-align: center;
  line-height: 50px;
}
.account_mail{
  margin-left: 10px;
  
}
.account:hover .account_list{
  display: block;
}

.account_logout{
  display: flex;
  justify-content: center;
  margin: 10px 0!important;
}
  
.account_logout span{
  
  padding: 5px 50px;
  background-color: #F5C909;
  border-radius: 5px;
}
/* end css */
.btnLogin {
  background-color: var(--primary-color);
  border: 1.5px solid var(--primary-color);

  border-radius: 35px;
  font-weight: 700;
  transition: all 0.5s;
}
.btnLogin:hover {
  background-color: transparent;
  border: 1.5px solid var(--primary-color);
  color: var(--primary-color);
}

.menu-links {
  display: flex;
  align-items: center;
  /* transform: translateX(100%); */
}

.menu-links li {
  margin: 0 5px;
  list-style: none;
}
.menu-links li a {
  position: relative;
  font-size: 16px;
  font-weight: bold;
  color: var(--text-color);
  text-decoration: none;
  padding: 8px 20px;
  margin-bottom: 5px ;
}
.mobile-nav-toggle {
  position: absolute;
  background-color: transparent;
  
  aspect-ratio: 1;
  top: 2rem;
  right: 2rem;
  z-index: 1000;

  border: none;
  outline: none;
  cursor: pointer;

  display: none;
}
.sidebarClose {
  position: absolute;
  background-color: #F5C909;
  border-radius: 50%;
  width: 3rem;
  aspect-ratio: 1;
  top: 2rem;
  right: 2rem;
  z-index: 2000;
  
  border: none;
  outline: none;
  cursor: pointer;
  
  display: none;
}

/* .abus__content {
  position: absolute;
  top: 35%;
  padding: 0 0 0 180px;
  width: 50%;
}*/
.abus__content h1 {
  color: var(--primary-color);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  font-size: 4rem;
}

.abus__content {
  position: absolute;
  top: 40vh;
  left: 35vw;
  color: var(--primary-color);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 2.75rem;
}

.abus {
  position: relative;
}
@media (min-width: 730px) and (max-width: 1263px) {
  .navbarHeader{
      flex-direction: column;
      background-color: #FFFFFF10;
      backdrop-filter: blur(5px) saturate(150%);
      padding: 20px 0;
  }
  .navbarHeader_right {
      justify-content: center;
      margin-top: 30px;
  }
  .menu-links {
      width: 100%;
      justify-content: center;
  }
  .welcome {
      display: flex;
  }
  .welcome__content {
      transition: all .4s ease;
      width: 100% !important;
      padding: 0 50px  !important;
      margin: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      align-content: center;
  }
  .welcome__content p, .welcome__content h1 {
      text-align: center;
  }
  
}

@media (max-width: 730px) {
  .searchbox {
      display: none;
  }
  .navbarHeader_right {
      display: flex;
      align-items: flex-start;
  }
  .mobile-nav-toggle {
      display: block;
  }
  .sidebarClose {
      display: block;
  }
  .menu {
      position: fixed;
      height: 100%;
      width: 33%;
      min-width: 280px;
      right: 0;
      top: 0;
      z-index: 2000;
      background-color: #FFFFFF10;
      backdrop-filter: blur(8px) saturate(100%);
      transition: all .5s;
  }
  .menu-links {
      display: flex;
      padding: 0;
      margin-left: 0;
      margin-top: 100px;

      flex-direction: column;
      justify-content: center;
      transition:all 0.3s ease;
  }
  .menu-links li {
      width: 245px;
      position: relative;
      vertical-align: middle;
      transition:all 0.3s ease;
      
  }
  /* .menu-links li:nth-last-child(1) {
      position: fixed;
      top: 77px;
      height: 61px;
  } */

  .menu-links li a {
      display: block;
      /* text-align: center; */
      margin-top: 18px;
      margin-bottom: 18px;
  }

  .menu-links li:hover {
      background: #4e5768ab;
      border-radius: 5px;
      cursor: pointer;
  }
  /* .menu-links li:nth-child(2):hover {
      background: #4e5768ab;
      border-radius: 5px;
      cursor: pointer;
  } */


  .sidebarClose {
      color: #FFFFFF;
      font-size: 30px;
      cursor: pointer;
      float: right;
      width: 15%;
      z-index: 100;
  }

  .welcome {
      display: flex;
  }
  .welcome__content {
      transition: all .4s ease;
      width: 100% !important;
      padding: 0 50px  !important;
      margin: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      align-content: center;
  }
  .welcome__content p, .welcome__content h1 {
      text-align: center;
  }
  .welcome__content h1 {
      font-size: 1.25rem  !important;
  }
  .welcome__content p {
      font-size: 0.8rem  !important;
  }
  .welcome__content a {
      font-size: 0.8rem !important;
      font-weight: 700;
      padding: 10px 20px !important;
  }
}
@media (max-width: 700px) {
  .navbarHeader {
      padding: 40px 0 30px;
  }
}

/*===============header=================================*/



.item__saveFavorite{
  display: flex;
  background-color: #FFCF00 ;
  box-shadow: 0px 0px 5px 5px #999999;
  height: 30vh;
  width: 80vw;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  border-radius: 10px;
  flex-wrap: wrap;
}
.item__saveFavorite h2 {
  color: #FFFFFF;
  line-height: 30vh;
  text-shadow: 0px 0px 5px 5px #999999;
  margin-left: 50px;
}
.item__saveFavorite--signUp {
  margin-top: auto;
  margin-bottom: auto;
  background-color: #FFFFFF;
  width: 100px;
  height: 40px;
  border-radius: 20px;
  box-shadow: 0px 0px 5px 5px #999999;
  margin-left: 30vw;
}
.item__saveFavorite--signUp a {
  color: #FFCF00;
  font-weight: bold;
  line-height:40px ;
  margin-left: 15px
  
}
.header__content {
  position: absolute;
  top: 50vh;
  left: 40vw;
  color: #f5c909;
  text-shadow: 3px -3px 4px #2e2604;
}
.item__ourStory {
  display: flex;
  height: max-content;
  flex-direction: row;
  margin-top: 10vh;
}
.item__ourStory div.item__content {
  flex: 1;
  margin-left: 20vw;
  display: block;
  text-align: justify;
  margin-right: 20px;
  line-height: 1.5;
}
.item__ourStory div.item__img img {
  height: 50vh;
  margin-right: 20vw;
  border-radius: 25px;
  box-shadow: 5px 5px #666;
  margin-top: 60px;
}

.item__header--story {
  color: rgb(195, 143, 106);
  margin-bottom: 20px;
}
.item__vision {
  display: flex;
  height: max-content;
  flex-direction: row;
  margin-top: 10vh;
}
.item__img--vision img {
  height: 50vh;
  margin-left: 20vw;
  border-radius: 25px;
  box-shadow: 5px 5px #666;
  margin-top: 60px;
}
.item__vision div.item__content {
  text-align: justify;
  margin-right: 20vw;
  margin-left: 20px;
  line-height: 1.5;
}

.title__ourVision {
  text-align: right;
  color: rgb(195, 143, 106);
}
.item__seeOG {
  text-align: center;
  margin-top: 30px;
  color: rgb(195, 143, 106);
}
.title__ourVision {
  margin-bottom: 20px;
}
.item__seeOG--img {
  display: flex;
  flex-direction: row;
}
.item__seeOG--img div:nth-child(1) {
  width: 20vh;
  flex: 1;
}
.item__seeOG--img div:nth-child(2) {
  width: 20vh;
  flex: 1;
}
.item__seeOG--img div:nth-child(3) {
  width: 20vh;
  flex: 1;
}
@media screen and (max-width: 1300px)
{
  .item__ourStory{
    display: flex;
    flex-direction: column;
  }
  .item__ourStory div.item__content{
    margin-left: 30px;
    margin-right: 30px;
    line-height: 1.7;
  }
  .item__ourStory div.item__img{
   margin-top: 30px;
   margin-left: auto;
   margin-right: auto;
  }
  .item__ourStory div.item__img img{
   margin-left: auto;
   margin-right: auto;
  }
  .item__vision{
    display: flex;
    flex-direction: column;
  }
  .item__vision div.item__content{
   margin-left: 30px;
   margin-right: 30px;
   line-height: 1.7;
  }
  .item__vision div.item__img--vision{
    margin-top: 30px;
    order: 2;
    margin-left: auto;
    margin-right: auto;
  }
  .item__vision div.item__img--vision img{
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
  }
  .title__ourVision {
    text-align: left;
    color: rgb(195, 143, 106);
    order: 1;
  }
}
@media screen and (max-width: 1300px){
  .item__saveFavorite{
    position: relative;
  }
  .item__saveFavorite h2 {
    color: #FFFFFF;
    line-height: 25vh;
    text-shadow: 0px 0px 2px 2px #999999;
  }
  .item__saveFavorite--signUp {
    position: absolute;
    right: 35vw;
    top: 20vh;
    background-color: #FFFFFF;
    width: 100px;
    height: 40px;
    border-radius: 20px;
    box-shadow: 0px 0px 5px 5px #999999;
  }
  .item__saveFavorite--signUp a {
    color: #FFCF00;
    font-weight: bold;
    line-height:40px ;
    margin-left: 15px
  }
}