.heading {
    font-family: 'Merriweather', serif;
}
.btn {
    cursor: pointer;
    outline: none;
    border: none;
}
:root{
    --primary-color: #F5C909;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none !important;
    cursor: pointer;
}
body {
    font-family: 'Open Sans', sans-serif;
    /* font-family: 'Racing Sans One'; */
    /* font-family: 'Raleway', sans-serif; */
    font-size: 16px;
    min-height: 100%;

    display: flex;
    flex-direction: column;
}
.container {
    background-color: #FBFBFB;
}
/* header */
.navbarHeader {
    display: flex;
    /* flex-direction: row; */
    justify-content: space-between;
    align-items: center;

    position: absolute;
    width: 100%;
    z-index: 1;
    /* background: #000; */
    color: #FFFFFF;

    padding: 30px 80px;

    transition: all .4s ease;
}
.navbarHeader__left {
    display: flex;
}
.navbarHeader_right {
    position: relative;
    height: 100%;
    max-width: 1300px;
    width: 100%;
    background: var(--bg-color);
    margin: 0 auto;
    padding-right: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
#accImg{
    height: 100%;
    border-radius:50%;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
    position: absolute;
    left: 0px;
    top: 0px;
}

.logOut{
    display: none;
}
/* .account{
    position: relative;
    display: none;
    background: #ffffff;
    border-radius: 50%;
    box-shadow: 0.375em 0.375em 0 0 rgba(15, 28, 63, 0.125);
    height: 3em;
    width: 3em;
} */
/* css account */
.account{
    position: relative;
    display: none;
    background: #ffffff;
    border-radius: 50%;
    box-shadow: 0.375em 0.375em 0 0 rgba(15, 28, 63, 0.125);
    height: 3em;
    width: 3em;
}
.account_list{
    position: absolute;
    top: 100%;
    display: none;
    padding: 10px;
    width: 250px;
    /* max-width: 100%; */
    background-color: white;
    color: #252525;
    right: -20%;
    border-radius: 10px;
    }
    .account_list-item{
      border-bottom: 1px solid #000;
      display: flex;
      align-items: center;
      padding: 10px 5px;
        }
        .account_list-item button{
            background-color: rgba(254, 253, 253, 0.218); 
            border: none;
            color: rgb(17, 0, 0);
            padding: 0;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 18px;
            margin-left: 35px;
            cursor: pointer;
        }
.account_icon{
    font-size: 20px;
}
.account_icon--border{
    border-radius: 50%;
    border: 1px solid;
    height:50px;
    width:50px;
    text-align: center;
    line-height: 50px;
}
.account_mail{
    margin-left: 10px;
    
}
.account:hover .account_list{
    display: block;
}

.account_logout{
    display: flex;
    justify-content: center;
    margin: 10px 0!important;
}
    
.account_logout span{
    
    padding: 5px 50px;
    background-color: #F5C909;
    border-radius: 5px;
}
/* end account */
.btnLogin {
    background-color: var(--primary-color);
    border: 1.5px solid var(--primary-color);

    border-radius: 35px;
    font-weight: 700;
    transition: all 0.5s;
    display: block;
}
.btnLogin:hover {
    background-color: transparent;
    border: 1.5px solid var(--primary-color);
    color: var(--primary-color);
}

.menu-links {
    display: flex;
    align-items: center;
    /* transform: translateX(100%); */
}

.menu-links li {
    margin: 0 5px;
    list-style: none;
}
.menu-links li a {
    position: relative;
    font-size: 16px;
    font-weight: bold;
    color: var(--text-color);
    text-decoration: none;
    padding: 8px 20px;
    margin-bottom: 5px ;
}
.mobile-nav-toggle {
    position: absolute;
    background-color: transparent;
    
    aspect-ratio: 1;
    top: 2rem;
    right: 2rem;
    z-index: 1000;

    border: none;
    outline: none;
    cursor: pointer;

    display: none;
}
.sidebarClose {
    position: absolute;
    background-color: #F5C909;
    border-radius: 50%;
    width: 3rem;
    aspect-ratio: 1;
    top: 2rem;
    right: 2rem;
    z-index: 2000;
    
    border: none;
    outline: none;
    cursor: pointer;
    
    display: none;
}


@media (min-width: 730px) and (max-width: 1263px) {
    .navbarHeader{
        flex-direction: column;
        background-color: #FFFFFF10;
        backdrop-filter: blur(5px) saturate(150%);
        padding: 20px 0;
    }
    .navbarHeader_right {
        justify-content: center;
        margin-top: 30px;
    }
    .menu-links {
        width: 100%;
        justify-content: center;
    }
    .welcome {
        display: flex;
    }
    .welcome__content {
        transition: all .4s ease;
        /* width: 80% !important; */
        padding: 0 20px  !important;
        
        /* align-items: center;
        align-content: center; */
    }
    .welcome__content p, .welcome__content h1 {
        text-align: center;
    }
    .heading {
        font-size: 1rem !important;
    }
    .welcome__content p {
        font-size: 0.8rem;
    }
    .welcome__content--desc {
        font-size: 0.7rem;
    }
    
}

@media (max-width: 730px) {
    .searchbox {
        display: none;
    }
    .navbarHeader_right {
        display: flex;
        align-items: flex-start;
    }
    .mobile-nav-toggle {
        display: block;
    }
    .sidebarClose {
        display: block;
    }
    .menu {
        position: fixed;
        height: 100%;
        width: 33%;
        min-width: 280px;
        right: 0;
        top: 0;
        z-index: 2000;
        background-color: #FFFFFF10;
        backdrop-filter: blur(8px) saturate(100%);
        transition: all .5s;
    }
    .menu-links {
        display: flex;
        padding: 0;
        margin-left: 0;
        margin-top: 100px;

        flex-direction: column;
        justify-content: center;
        transition:all 0.3s ease;
    }
    .menu-links li {
        width: 245px;
        position: relative;
        vertical-align: middle;
        transition:all 0.3s ease;
        
    }
    /* .menu-links li:nth-last-child(1) {
        position: fixed;
        top: 77px;
        height: 61px;
    } */

    .menu-links li a {
        display: block;
        /* text-align: center; */
        margin-top: 18px;
        margin-bottom: 18px;
    }

    .menu-links li:hover {
        background: #4e5768ab;
        border-radius: 5px;
        cursor: pointer;
    }
    /* .menu-links li:nth-child(2):hover {
        background: #4e5768ab;
        border-radius: 5px;
        cursor: pointer;
    } */


    .sidebarClose {
        color: #FFFFFF;
        font-size: 30px;
        cursor: pointer;
        float: right;
        width: 15%;
        z-index: 100;
    }

    .welcome {
        display: flex;
        justify-content: center;
    }
    .welcome__content {
        transition: all .4s ease;
        width: 70% !important;
        padding: 10px  !important;
        margin: auto !important;
        position: absolute;
        top: 35% !important;
        width: 100%;
        height: auto !important;
        
    }
    .welcome__content p, .welcome__content h1 {
        text-align: center;
    }
    .welcome__content h1 {
        font-size: 1.25rem  !important;
    }
    .welcome__content p {
        font-size: 0.8rem  !important;
    }
    .welcome__content a {
        font-size: 0.8rem !important;
        font-weight: 700;
        padding: 10px 20px !important;
    }
}
@media (max-width: 700px) {
    .navbarHeader {
        padding: 40px 0 30px;
    }
}
@media (min-width: 1263px ) {
    .welcome__parallax{
        background-image: url(/assets/category/food_comtam.jpg);
    }
}
@media (max-width: 550px) {
    .welcome__parallax{
        background-image: url(/assets/category/food_comtamsmall.jpg) !important;
    }

}
/* main content */
.welcome__parallax {
    width: 100%;
    min-height: 100vh;

    background: linear-gradient(90deg, rgba(8, 8, 8, 0.589), rgba(0, 0, 0, 0.1));

    background-image: url(/assets/category/food_comtam.jpg);
 

    /* box-shadow: inset 0 150px 139px -100px rgb(0 0 0 / 87%); */
    box-shadow: inset 0px -100px 150px 100px rgb(0 0 0 / 55%);

    /* opacity: 0.9; */
    background-position: center;
    background-size: cover;
    position: relative;
}

/* blur ở giữa */
/* .welcome__content {
    position: absolute;
    top: 30%;
    margin-left: 100px;
    padding: 30px 40px;
    width: 40%;

    line-height: 2;
    background-color: #FFFFFF10;
    backdrop-filter: blur(8px) saturate(100%);
    border-radius: 8px;
} */
.welcome__content {
    position: absolute;
    top: 0;
    
    padding-left: 100px;
    padding-right: 50px;
    width: 35%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    
    line-height: 2;
    background-color: #FFFFFF10;
    backdrop-filter: blur(15px) saturate(100%);

}
.welcome__content h1 {
    color: var(--primary-color);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    font-size: 2.75rem;


}
.welcome__content p {
    color: whitesmoke;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.welcome__content--desc {
    font-size: 0.9rem;
    
    
}
.welcome__content a {
    background-color: var(--primary-color);
    color: #FFFFFF;

    border-radius: 35px;
    font-size: 1rem;
    font-weight: 700;
    padding: 15px 35px;
    transition: all 0.5s;
    cursor: pointer;
}
.welcome__content span {
    display: inline-block;
    position: relative;
    transition: 0.5s;
}
.welcome__content a span:after {
    content: '\00bb';
    font-size: 19px;
    position: absolute;
    opacity: 0;
    top: -3px;
    right: -20px;
    transition: 0.8s;
}
.welcome__content a:hover span {
    transform: translateX(-10px);
}
.welcome__content a:hover span:after {
    opacity: 1;
}
.welcome__content a:active {
    background-size: 100%;
    transition: background 0s;
}   


/*filter area*/
ul {
    list-style: none;
}
.filterSection {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px 0;
}
.filterComponent {
    width: 85%;
    min-height: fit-content;
    max-height: 200px;
    border-radius: 10px;
    background-color: white ;
    /* backdrop-filter: blur(50px) saturate(150%); */

    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}
.filterItem {
    display: flex;
    flex-direction: column;
    margin: 40px 20px;
}
.filterItem label {
    font-weight: 500;
    margin-bottom: 10px;
    
}
.filterItem input, select {
    outline: none;
    border: none;
    height: 27px;
    font-size: 1rem;
    width: max-content;
    /* padding-left: 5px; */

    /* background: #000; */
}
.filter_location, 
.filter_priceto {
    padding-right: 40px;
    border-right: 1px solid rgb(207, 207, 207);
}

.btnSort {
    background: var(--primary-color);
    backdrop-filter: blur(5px) saturate(150%);
    border-radius: 50%;
    
   

    margin-left: 20px;
    padding: 15px;
}
/*filter area*/