:root {
    --primary-color: #F5C909;
    --container-bgcolor:#fffdf8;
    --categorymenu-bgcolor: #fcfcfcce;

    --star-size: 60px;
    --star-color: #fff;
    --star-background: #fc0;


    
}
.heading {
    font-family: 'Merriweather', serif;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
p {
    margin-bottom: 0 !important;
}
a {
    text-decoration: none !important;
    cursor: pointer;
}
.btn {
    outline: none;
    border: none;
    cursor: pointer;
}
body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    min-height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;
}
.main-container {
    /* background: #fcfcfcce; */
    background: #f3f3f3ce;
}

.navbarHeader {
    display: flex;
    /* flex-direction: row; */
    justify-content: space-between;
    align-items: center;

    position: absolute;
    width: 100%;
    z-index: 1;
    /* background: #000; */
    color: #FFFFFF;

    padding: 30px 80px;

    transition: all .4s ease;
}
.navbarHeader__left {
    display: flex;
}
.navbarHeader_right {
    position: relative;
    height: 100%;
    max-width: 1300px;
    width: 100%;
    background: var(--bg-color);
    margin: 0 auto;
    padding-right: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.searchbox {
    display: flex;
    align-items: center;
    width: 100%;
    min-width: 200px;
    
    background: rgba(255,255,255,.25);
    border-radius: 30px;
}

.searchbox input {
    outline: none;
    border: none;
    background-color: transparent;
    padding: 8px 0 8px 15px;
    color: #FFFFFF;
}
.searchbox input::placeholder {
    color: rgba(245, 245, 245, 0.4);
}
.searchbox button {
    height: 23px;
    width: 23px;

    outline: none;
    border: none;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.521);
    margin-right: 6px;

}
#accImg{
    height: 100%;
    border-radius:50%;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
    position: absolute;
    left: 0px;
    top: 0px;
}

.logOut{
    display: none;
}
.account{
    position: relative;
    display: none;
    background: #ffffff;
    border-radius: 50%;
    box-shadow: 0.375em 0.375em 0 0 rgba(15, 28, 63, 0.125);
    height: 3em;
    width: 3em;
}
.account_list{
    position: absolute;
    top: 100%;
    display: none;
    padding: 10px;
    width: 250px;
    /* max-width: 100%; */
    background-color: white;
    color: #252525;
    right: -20%;
    border-radius: 10px;
    }
    .account_list-item{
      border-bottom: 1px solid #000;
      display: flex;
      align-items: center;
      padding: 10px 5px;
        }
        .account_list-item button{
            background-color: rgba(254, 253, 253, 0.218); 
            border: none;
            color: rgb(17, 0, 0);
            padding: 0;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 18px;
            margin-left: 35px;
            cursor: pointer;
        }
.account_icon{
    font-size: 20px;
}
.account_icon--border{
    border-radius: 50%;
    border: 1px solid;
    height:50px;
    width:50px;
    text-align: center;
    line-height: 50px;
}
.account_mail{
    margin-left: 10px;
    
}
.account:hover .account_list{
    display: block;
}

.account_logout{
    display: flex;
    justify-content: center;
    margin: 10px 0!important;
}
    
.account_logout span{
    
    padding: 5px 50px;
    background-color: #F5C909;
    border-radius: 5px;
}


.btnLogin {
    background-color: var(--primary-color);
    border: 1.5px solid var(--primary-color);

    border-radius: 35px;
    font-weight: 700;
    transition: all 0.5s;
    display: block;
}
.btnLogin:hover {
    background-color: transparent;
    border: 1.5px solid var(--primary-color);
    color: var(--primary-color);
}

.menu-links {
    display: flex;
    align-items: center;
    /* transform: translateX(100%); */
}

.menu-links li {
    margin: 0 5px;
    list-style: none;
}
.menu-links li a {
    position: relative;
    font-size: 16px;
    font-weight: bold;
    color: var(--text-color);
    text-decoration: none;
    padding: 8px 20px;
    margin-bottom: 5px ;
}
.mobile-nav-toggle {
    position: absolute;
    background-color: transparent;
    
    aspect-ratio: 1;
    top: 2rem;
    right: 2rem;
    z-index: 1000;

    border: none;
    outline: none;
    cursor: pointer;

    display: none;
}
.sidebarClose {
    position: absolute;
    background-color: #F5C909;
    border-radius: 50%;
    width: 3rem;
    aspect-ratio: 1;
    top: 2rem;
    right: 2rem;
    z-index: 2000;
    
    border: none;
    outline: none;
    cursor: pointer;
    
    display: none;
}


@media (min-width: 730px) and (max-width: 1263px) {
    .navbarHeader{
        flex-direction: column;
        background-color: #FFFFFF10;
        backdrop-filter: blur(20px) saturate(150%);
        padding: 20px 0;
    }
    .navbarHeader_right {
        justify-content: center;
        margin-top: 30px;
    }
    .menu-links {
        width: 100%;
        justify-content: center;
    }
    .welcome {
        display: flex;
    }
    .welcome__content {
        transition: all .4s ease;
        width: 100% !important;
        padding: 0 50px  !important;
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
    }
    .welcome__content p, .welcome__content h1 {
        text-align: center;
    }
    
}

@media (max-width: 730px) {
    .searchbox {
        display: none;
    }
    .navbarHeader_right {
        display: flex;
        align-items: flex-start;
    }
    .mobile-nav-toggle {
        display: block;
    }
    .sidebarClose {
        display: block;
    }
    .menu {
        position: fixed;
        height: 100%;
        width: 33%;
        min-width: 280px;
        right: 0;
        top: 0;
        z-index: 2000;
        background-color: #FFFFFF10;
        backdrop-filter: blur(8px) saturate(100%);
        transition: all .5s;
    }
    .menu-links {
        display: flex;
        padding: 0;
        margin-left: 0;
        margin-top: 100px;

        flex-direction: column;
        justify-content: center;
        transition:all 0.3s ease;
    }
    .menu-links li {
        width: 245px;
        position: relative;
        vertical-align: middle;
        transition:all 0.3s ease;
        
    }
    /* .menu-links li:nth-last-child(1) {
        position: fixed;
        top: 77px;
        height: 61px;
    } */

    .menu-links li a {
        display: block;
        /* text-align: center; */
        margin-top: 18px;
        margin-bottom: 18px;
    }

    .menu-links li:hover {
        background: #4e5768ab;
        border-radius: 5px;
        cursor: pointer;
    }
    /* .menu-links li:nth-child(2):hover {
        background: #4e5768ab;
        border-radius: 5px;
        cursor: pointer;
    } */


    .sidebarClose {
        color: #FFFFFF;
        font-size: 30px;
        cursor: pointer;
        float: right;
        width: 15%;
        z-index: 100;
    }

    .welcome {
        display: flex;
    }
    .welcome__content {
        transition: all .4s ease;
        width: 100% !important;
        padding: 0 50px  !important;
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
    }
    .welcome__content p, .welcome__content h1 {
        text-align: center;
    }
    .welcome__content h1 {
        font-size: 1.25rem  !important;
    }
    .welcome__content p {
        font-size: 0.8rem  !important;
    }
    .welcome__content a {
        font-size: 0.8rem !important;
        font-weight: 700;
        padding: 10px 20px !important;
    }
}
@media (max-width: 700px) {
    .navbarHeader {
        padding: 40px 0 30px;
    }
}

/*==============================================*/
.welcome__parallax {
    width: 100%;
    min-height: 100vh;
    background-color: aqua;

    background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.1));

    background-position: center;
    background-size: cover;
    position: relative;
}

.welcome__parallax--control {
    position: absolute;
    top: 60%;
    right: 5%;
    color: #ffffff79;
    font-size: 50px;
}

.welcome__content {
    position: absolute;
    top: 35%;
    padding: 0 0 0 180px;
    width: 50%;
}
.welcome__content h1 {
    color: var(--primary-color);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    font-size: 2.75rem;
}
.welcome__content p {
    color: whitesmoke;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 1rem;
    margin: 20px 0 50px;
}
.welcome__content a {
    background-color: var(--primary-color);
    color: #FFFFFF;

    border-radius: 35px;
    font-size: 1rem;
    font-weight: 700;
    padding: 15px 35px;
    transition: all 0.5s;
    cursor: pointer;
}
.welcome__content span {
    display: inline-block;
    position: relative;
    transition: 0.5s;
}
.welcome__content a span:after {
    content: '\00bb';
    font-size: 19px;
    position: absolute;
    opacity: 0;
    top: -3px;
    right: -20px;
    transition: 0.8s;
}
.welcome__content a:hover span {
    transform: translateX(-10px);
}
.welcome__content a:hover span:after {
    opacity: 1;
}
.welcome__content a:active {
    background-size: 100%;
    transition: background 0s;
}   

/* category menu */
.categorySection {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    padding: 40px 100px 90px 100px;
    background: var(--categorymenu-bgcolor);
}
.categoryButtonComponent {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 40px;
}
.categoryItemComponent{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    flex-wrap: wrap;
}
.btnAllCategory {
    display: flex;
    align-items: center;
    justify-content: space-between;

    border-radius: 5px;
    padding: 7px 20px;
    font-size: 0.9rem;
 
    outline: none;
    border: none;
}
.btnAllCategory p{
    margin: 0 !important;
}

.categoryItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;

    border-radius: 5px;

    padding: 20px;

    font-weight: 500;
    color: #252525;
    background: #FFF;

}
.categoryItem:hover {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    transform: translateY(-5px) ;
    transition: all .3s;

    cursor: pointer;
}
.categorySelect {
    border: 1px solid var(--primary-color);
    background: rgb(255, 254, 244);
}
.categoryItem img {
    width: 80%;
    padding-bottom: 15px;
}
/* category menu */



.item__saveFavorite{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFCF00 ;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    height: 20vh;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 10px;
    flex-wrap: wrap;
  }
  .item__saveFavorite h2 {
    color: #FFFFFF;
    padding-right: 30px;
  }
  .item__saveFavorite--signUp {
   border-radius: 10px;
    text-decoration: none;
    background: #FFF;
    color: #F5C909;
    font-weight: 700;
    padding: 10px 20px;

}
