.navbarHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  position: absolute;
  width: 100%;
  z-index: 1;
  /* background: #000; */
  color: #FFFFFF;

  padding: 30px 80px;


}
.navbarHeader__left {
  display: flex;
}

.searchbox {
  display: flex;
  align-items: center;
  width: 100%;
  min-width: 200px;
  
  background: rgba(255,255,255,.25);
  border-radius: 30px;
}

.searchbox input {
  outline: none;
  border: none;
  background-color: transparent;
  padding: 8px 0 8px 15px;
  color: #FFFFFF;
}
.searchbox input::placeholder {
  color: rgba(245, 245, 245, 0.4);
}
.searchbox button {
  height: 23px;
  width: 23px;

  outline: none;
  border: none;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.521);
  margin-right: 6px;

}

.menu-links {
  display: flex;
  align-items: center;
}

.menu-links li {
  margin: 0;
  list-style: none;
}
.menu-links li a {
  position: relative;
  font-size: 1rem;
  font-weight: bold;
  color: white;
  text-decoration: none;
  padding: 8px 20px;

}
.btnLogin {
  background-color: var(--primary-color);
  border: 1.5px solid var(--primary-color);

  border-radius: 35px;
  font-weight: 700;
  transition: all 0.5s;
}
.btnLogin:hover {
  background-color: transparent;
  border: 1.5px solid var(--primary-color);
  color: var(--primary-color);
}
body {
  background-color: rgb(255, 249, 251);
}
.header__content {
  position: absolute;
  top: 50vh;
  left: 40vw;
  color: #f5c909;
  text-shadow: 3px -3px 4px #2e2604;
}
.item__ourStory {
  display: flex;
  height: max-content;
  flex-direction: row;
  margin-top: 10vh;
}
.item__ourStory div.item__content {
  flex: 1;
  margin-left: 20vw;
  display: block;
  text-align: justify;
  margin-right: 20px;
}
.item__ourStory div.item__img img {
  height: 50vh;
  margin-right: 20vw;
}
.item__header--story {
  color: rgb(195, 143, 106);
  margin-bottom: 20px;
}
.item__vision {
  display: flex;
  height: max-content;
  flex-direction: row;
  margin-top: 10vh;
}
.item__img--vision img {
  height: 50vh;
  margin-left: 20vw;
}
.item__vision div.item__content {
  text-align: justify;
  margin-right: 20vw;
  margin-left: 20px;
}

.title__ourVision {
  text-align: right;
  color: rgb(195, 143, 106);
}
.item__seeOG {
  text-align: center;
  margin-top: 30px;
}
.title__ourVision {
  margin-bottom: 20px;
}
.item__seeOG--img {
  display: flex;
  flex-direction: row;
}
.item__seeOG--img div:nth-child(1) {
  width: 20vh;
  flex: 1;
}
.item__seeOG--img div:nth-child(2) {
  width: 20vh;
  flex: 1;
}
.item__seeOG--img div:nth-child(3) {
  width: 20vh;
  flex: 1;
}
