<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
	
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="/css/footer.css">
<!------ Include the above in your HEAD tag ---------->
</head>
<body>
    <!-- Footer -->
	<section id="footer">
		<div class="container">
			<div class="row text-center text-xs-center text-sm-left text-md-left" id="Item">
				<div class="col-xs-12 col-sm-4 col-md-4"> 
					<h5>Company</h5>
					<ul class="list-unstyled quick-links">
						<li><a href="#">About Us</a></li>
						<!-- <i class="fa fa-angle-double-right"></i> -->
						<li><a href="#">Why Choose Us</a></li>
						<li><a href="#">Pricing</a></li>
						<li><a href="#">Testimonial</a></li>
					</ul>
				</div>
				<div class="col-xs-12 col-sm-4 col-md-4">
					<h5>Resources</h5>
					<ul class="list-unstyled quick-links">
						<li><a href="#">Privacy Policy</a></li>
						<li><a href="#">Terms and Condition</a></li>
						<li><a href="#">Contact Us</a></li>
					</ul>
				</div>
				<div class="col-xs-12 col-sm-4 col-md-4">
					<h5>Categories</h5>
					<ul class="list-unstyled quick-links">
						<li><a href="#">Eat and Drinks</a></li>
						<li><a href="#">Shopping</a></li>
						<li><a href="#">Hotels</a></li>
						<li><a href="#">Transport</a></li>
						<li><a href="#">Tours</a></li>
						<li><a href="#">Adventures</a></li>
					</ul>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-5"><img src="/assets/image/logo.png" alt="" width="90%"></div>
				<div class="col-md-5 bot"><p><b>© 2022 Saigon SidebySide. All Rights Reserved. </b></p></div>
				<div class="col-sm-2">
					<ul class="list-unstyled list-inline social text-center">
						<li class="list-inline-item"><a href="#"><i class="fa fa-facebook"></i></a></li>
						<li class="list-inline-item"><a href="#"><i class="fa fa-twitter"></i></a></li>
						<li class="list-inline-item"><a href="#"><i class="fa fa-linkedin"></i></a></li>

					</ul>
				</div>
			</div>
			
		</div>
	</section>
	<!-- ./Footer -->
</body>
</html>

