<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/acc.css">
</head>
<body>
    <div class="profile">
        <div class="profile__title">
            <H2>My Profile</H2>
            <P>Manage your profile to protect your personal information<span><i class="far fa-edit"></i> </span></P>
        </div>
        <hr>
        <form action="">
            <div>
                <label for="">UserID:</label>
                <input type="text" name="" value="0001000001447" id="" readonly>
            </div>
            <div>
                <label for="">User Name:</label>
                <input type="text" name="" value="anhvn123@jkl" id="" readonly>
            </div>
            <div>
                <label for="">Full Name:</label>
                <input type="text" name="" value="Nguyen Van A" id="" readonly>
            </div>
            <div>
                <label for="">Email:</label>
                <input type="text" name="" value="customer@example.com" id="" readonly>
            </div>
            <div>
                <label for="">Phone Number:</label>
                <input type="text" name="" value="+84  0909.927.430" id="" readonly>
            </div>
        </form>
    </div>
</body>
</html>