<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/acc.css">
</head>
<body>
    <div class="profile">
        <div class="profile__title">
            <h1>My Wishlist</h1>
            <P>Save more destinations to your wishlist!<span><i class="far fa-edit"></i> </span></P>
        </div>
        <hr>
        <div class="myWishList">
             <H3>YOU HAVEN’T SAVE ANY POST TO YOUR WISHLIST YET :(</H3>
             <img src="/assets/image/tym.jpg" alt=""> <br>
             <button >CLICK HERE TO START SAVING YOUR FAVORITE PLACE!</button>
        </div>
    </div>
    
</body>
</html>